@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #e71e6e;
$accent: #161615;

:root {
  --primary: #e71e6e;
  --accent: #161615;
}

html {
  overflow-x: hidden;
  font-family: 'Montserrat, Montserrat Fallback';
}

body{
  color: $accent;
}


.form-input {
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid $accent;
  width: 100%;
  margin-bottom: 1.25rem;
}

.button-primary {
  background-color: $primary;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
}

.content {
  h2 {
    @apply text-md1 mb-11;
    &.banner-head{
      @apply text-xxl mb-12;
    }
  }
  h3 {
    @apply text-h5 mb-11;
  }
  
  p {
    @apply text-baseText mb-5;
  }
  ol {
    padding-left: 30px;
    
    @apply mb-11;
    > li {
      padding-bottom: 20px;
      &::marker{
        @apply text-baseText font-bold;
        color: $primary;
      }
      >p{
        margin-bottom: 0;
        &:first-of-type{
          @apply text-baseText font-bold;
        }
      }
      > ul {
        list-style: none;
        padding-top: 6px;
        > li {
          color: $accent !important;
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            width: 14px;
            height: 1.5px;
            background-color: rgba($primary, .5);
            left: -25px;
            top: 18px;
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    h2 {
      &.banner-head{
        @apply text-resTop mb-6;
      }
    }
    p {
      @apply text-baseSm mb-5;
    }
    ol {
      padding-left: 20px;
      @apply mb-5;
      > li {
        > ul {
          padding-top: 5px;
          li{
            position: relative;
          &:before{
            width: 14px;
            left: -22px;
            top: 15px;
          }
          }
        }
      }
    }
  }
}
