@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e71e6e;
  --accent: #161615;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: 'tt-travels-next';
}

.form-input {
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid var(--accent);
  width: 100%;
  margin-bottom: 1.25rem;
}

.button-primary {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
}
