@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #e71e6e;
$accent: #161615;

:root {
  --primary: #e71e6e;
  --accent: #161615;
}

html{
  overflow-x: hidden;
}

body {
  font-family: 'tt-travels-next';
}

.form-input {
  height: 2.5rem;
  padding: 0 1.25rem;
  border: 1px solid var(--accent);
  width: 100%;
  margin-bottom: 1.25rem;
}

.button-primary {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
}

.content {
  h2 {
    font-size: 60px;
    line-height: 75px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  > p {
    font-size: 26px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  ol {
    padding-left: 50px;
    > li {
      padding-left: 20px; /* Отступ от текста для списка */
      margin-bottom: 40px;
      font-size: 36px;
      font-weight: bold;
      .p1 {
        font-size: 26px;
        line-height: 35px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      > ul {
        list-style: disc; /* Вложенный список с круглыми маркерами */
        padding-left: 20px; /* Увеличенный отступ для вложенных пунктов */
        padding-top: 20px;
        > li {
          color: $accent!important;
          font-size: 26px;
          line-height: 35px;
          font-weight: 500;
          margin-bottom: 20px; /* Отступ между пунктами */
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    h2 {
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  
    > p {
      font-size: 16px;
      line-height: 30px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    ol {
      padding-left: 20px;
      > li {
        padding-left: 15px;
        margin-bottom: 20px;
        font-size: 16px;
        > .p1 {
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 10px;
        }
        > ul {
          padding-left: 10px;
          padding-top: 0px;
          li{
            margin-bottom: 0;
          }
          .p1, .p3, .p2 {
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 10px;
          }
          
        }
      }
    }
  }
}
